<h3 class="text-center">All issues</h3>

<div class="row">
  <div class="col-xs-6 col-xs-offset-3">
    <% @issues.each do |issue| %>
      <%= render "issue_row", issue: issue, order_item: @order_item %>
    <% end %>
  </div>
</div>