<%= form_for @order, :url => admin_order_path(@order) do |f| %>
    <!-- kod wyświetlający błędy -->
    <p>
      <%= f.label :status %> <br />
      <%= f.select :status, options_for_select(Order::STATUSES) %>

    <p><%= f.submit "Submit" %> </p>
<% end %>

