<div class="row">
	<div class="col-md-12">
		<p class="success">BRAWO KURWA, HAJS NA TO KONTO</p>
		<p>Numer konta: xxxx xxxx xxxx xxxx xxxx xxxx</p>
		<p>Krajki, ulica Harcerska 13a/7, Zadupie</p>
	</div>
</div>