<% if @order.errors.any? || @order_item.errors.any? %>
alert("not valid.")
<% else %>
  $(".cart-text").html("<%= escape_javascript(render 'layouts/cart_text') %>")
	$(".messages").append("<p class=\"bg-success\">Item added to cart!</p>")
<% end %>